body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
    line-height: 25px;
    font-size: 16px;
}
.text-highlight{
    color: #ff3182;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    /* border: 1px solid red; */

}
.half-width img{
    width: 100%;
}
.Top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background: rgb(19,14,105);
    background: linear-gradient(45deg, rgba(19,14,105,1) 1%, rgba(11,159,137,1) 50%, rgba(0,212,255,1) 100%);color: seashell;
    border-radius: 5px;
    padding: 10px 20px;
    /* font-weight: 700; (optional) */
    font: bold;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-area{
    font-size: 700;
    background-color: #ff3182;
    padding: inherit;
    color: black;
    margin-left: 5%;
    border-radius: 5px;
    padding: 10px 20px;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height: 90%;

}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-one{
    border-left: 5px solid;
    border-image: linear-gradient(45deg, rgba(19,14,105,1) 1%, rgba(11,159,137,1) 50%, rgba(0,212,255,1) 100%);
    border-image-slice: 1;
}
#full-stack-two{
    border-left: 5px solid;
    border-image: linear-gradient(45deg, rgb(207, 53, 14) 1%, rgb(11, 105, 159) 50%, rgb(0, 204, 255) 100%);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
